<footer class="bg-gray-50">
    <div class="container py-4 grid grid-cols-3 gap-10">
        <div class="col-span-3 md:col-span-2 lg:col-span-1">
            <h3 class="text-2xl font-bold my-6">About Us</h3>
            <p class="text-md">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, totam. Ducimus,
                dicta! Totam
                reprehenderit ducimus ratione sapiente suscipit explicabo cupiditate perspiciatis. Unde eos quasi nisi.
                Eveniet illum sapiente temporibus omnis?</p>
            <div class="flex my-4">
                <a href="https://facebook.com">
                    <svg class="w-8 h-8 p-1 bg-gray-900 text-white" data-name="Layer 1" id="Layer_1"
                        viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg">
                        <defs>
                            <style>
                                .cls-1 {
                                    fill: #fff;
                                    stroke: #000;
                                    stroke-miterlimit: 10;
                                    stroke-width: 2px;
                                }
                            </style>
                        </defs>
                        <title />
                        <path class="cls-1"
                            d="M53.68,38.26v15.1H37.11V72H53.68v42H73.29V72H90l2-18.63H73.29V38.26c0-2.67,2.11-4,3-4.82,1.57-1.34,9.15-1.55,9.15-1.55h7.43V15a93.26,93.26,0,0,0-11.68-1C53.11,14,53.68,38.26,53.68,38.26Z" />
                    </svg>
                </a>
            </div>
        </div>
        <div class="col-span-3 md:col-span-1 ">
            <h3 class="text-2xl font-bold my-6">Contact Us</h3>
            <ul>
                <li><a href="mailto:email@example.com" class="flex space-x-2 my-4">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                        </svg>
                        <span>email@example.com</span>
                    </a></li>
                <li>Turku, Finland</li>
            </ul>
        </div>
        <div class="col-span-3 lg:col-span-1">
            <h3 class="text-2xl font-bold my-6">Get latest updates</h3>
            <input type="email" name="email" id="email" placeholder="Email to subscribe newsletter"
                class="p-3 w-full border-2 rounded-md focus:ring-gray-800">
            <a href="#"
                class="my-4 block w-full bg-gray-800 text-white text-center py-3 rounded-md text-xl">Subscribe</a>
        </div>
    </div>
</footer>