<header class="border-b border-gray-300 shadow-sm">
    <div class="mx-8 md:mx-12 lg:mx-24 my-6 flex justify-between">
        <div>
            <h1 class="font-logo text-4xl font-bold tracking-wider">Elewind</h1>
        </div>
        <div id="burger" class="cursor-pointer md:hidden">
            <svg class="w-12 h-12" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16">
                </path>
            </svg>
        </div>
        <nav id="menu" class="hidden md:block text-xl">
            <ul class="flex flex-col md:flex-row">
                <li><a href="#" class="mx-6">Tag 1</a></li>
                <li><a href="#" class="mx-6">Tag 2</a></li>
                <li><a href="#" class="mx-6">Tag 3</a></li>
            </ul>
        </nav>
    </div>
</header>