<header class="border-b border-gray-300 shadow-sm">
    <div class="bodyContainer my-6 flex flex-col md:flex-row justify-between">
        <div class="flex justify-between">
            <a href="/">
                <h1 class="font-logo text-6xl font-bold tracking-wider">Elewind</h1>
            </a>
            <div id="burger" class="cursor-pointer md:hidden">
                <svg class="w-12 h-12" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16">
                    </path>
                </svg>
            </div>
            <div id="menu-close" class="cursor-pointer hidden md:hidden">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-12 h-12" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
            </div>
        </div>
        {% if navigation.items %}
        <nav id="menu" class="hidden md:block text-xl mb-3 bg-gray-50 md:bg-transparent">
            <ul class="flex flex-col md:flex-row h-full md:content-end gap-6 flex-wrap">
                {% for item in navigation.items %}
                <li><a href="{{ item.url }}" class="m-4 md:mx-0">{{ item.name }}</a></li>
                {% endfor %}
            </ul>
        </nav>
        {% endif %}
    </div>
</header>