---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
  addAllPagesToCollections: true
layout: layouts/base.html
eleventyComputed:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag | slug }}/
---
{% set postslist = collections[ tag ] %}
{% set headline = tag %}
{% set posts = collections[tag] %}
{% include "layouts/postsSection.njk" %}